/*_________________desktop first__________________*/
@media only screen and (max-width: 1200px){
	#latest-works .sec-body .item-img .image{
	display: inline-block;
	width: 370px;
	height: 320px;
	/*margin-right: 1px;*/
	/*float: left;*/
	/*clear: both; */
	margin: 0 auto;
}
	#latest-works .sec-body .item-img {
	margin-left: 120px;
	}
	.container{
		width: 992px;
	}
	#services{
		height: 915px;
	}
	#services > div > div.sec-body > .item{
		display: block;
		width: 50%;
		/*border-style: dotted;*/
		/*border-color: green;*/
		margin: 0 auto;
	}
}



@media only screen and (max-width: 992px){
	#latest-works .sec-body .item-img .image{
	display: inline-block;
	width: 370px;
	height: 320px;
	/*margin-right: 17px;*/
	/*float: left;*/
	/*clear: both; */
	margin: 0 auto;
	}
	#latest-works .sec-body .item-img {
	margin-left: 0px;
	}
	.container{
		width: 768px;
	}
	#services{
		height: 915px;
	}
	#services > div > div.sec-body > .item{
		display: block;
		width: 70%;
		/*border-style: dotted;*/
		/*border-color: green;*/
	}

}



@media only screen and (max-width: 768px){
	#latest-works .sec-body .item-img .image {
	display: block;
	width: 370px;
	height: 320px;
	margin-right: 17px;
	margin: 0 auto;
	/*margin-left: calc(50% - 150px);*/
	/*clear: both; */
}
	#latest-works .sec-body .item-img {
	margin-left: 0px;
	}
	.container{
		width: 460px;
	}
	#services{
		height: 980px;
	}
	#services > div > div.sec-body > .item{
		display: block;
		width: 100%;
		/*border-style: dotted;*/
		/*border-color: green;*/
	}
		#main-nav {
			width: 300px;
	}
		#main-nav a{
		font-size: 20px;
	}
}



@media only screen and (max-width: 460px){
	#latest-works .container .sec-body .item-img .image{
	display: block;
	width: 370px;
	height: 320px;
	/*margin: 0 auto;*/
	/*margin-right: 17px;*/
	/*float: left;*/
	/*clear: both; */
}
	#latest-works .sec-body .item-img {
	margin-left: 0px;
	}
	.container{
		width: 100%;
	}
	#services > div > div.sec-body > .item{
		display: block;
		width: 100%;
		/*border-style: dotted;*/
		/*border-color: green;*/
	}
	#services > div > div.sec-body > .item-image .image{
		
	}
	#latest-works .container .sec-body .item-image .image img{
		margin-top: 50px;
	}
	#main{
		height: 500px;
	}
		#main-nav a{
		font-size: 20px;
	}
}




@media only screen and (max-width: 360px){
	#latest-works .container .sec-body .item-img .image{
	display: block;
	width: 370px;
	height: 320px;
	/*margin: 0 auto;*/
	/*margin-right: 17px;*/
	/*float: left;*/
	/*clear: both; */
}
	#latest-works .sec-body .item-img {
	margin-left: 0px;
	}
	.container{
		width: 100%;
	}
	#services > div > div.sec-body > .item{
		display: block;
		width: 100%;
		/*border-style: dotted;*/
		/*border-color: green;*/
	}
	#latest-works .container .sec-body item-img{

	}
	#main-nav a{
		font-size: 20px;
	}
}